In [1]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats
import seaborn as sns

In [4]:
data=pd.read_csv("C:\Local Disk (A);\Excelr\Assignment Excelr\\3 Hypothesis Testing\BuyerRatio.csv")

In [5]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
value = data.drop('Observed Values',1)

C:\Users\aksha\AppData\Local\Temp\ipykernel_5052\4277288607.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  value = data.drop('Observed Values',1)

In [13]:
value

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [14]:
prob = stats.chi2_contingency(value)

In [15]:
prob

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [16]:
prob[1]

0.6603094907091882

In [ ]:
Probability is greater than Significance level means Accept Null Hypo.
All Proportion are Equal.